{% extends "base.html.twig" %}
{% block contenu %}

	<div class="container py-4">
		<div class="row border rounded p-3">

			<div class="col-md-3 d-flex flex-column align-items-center">
				<div class="display-5 fw-bold text-primary bg-primary bg-opacity-10 rounded-circle d-flex align-items-center justify-content-center flex-shrink-0 mb-4" style="width: 8rem; height: 8rem;">
					{{ entreprise.nom|split(' ')[0]|first ~ entreprise.nom|split(' ')[1]|first }}
				</div>
				<div id="etoiles" class="flex-grow-1 text-center text-md-start mb-2">
					<h6 class="mb-3">Notes de l'entreprise</h6>

					 <script>
					// Change la note ici (entre 0 et 5)
					let note = 4.0;

					 let html = "";

					for (let i = 1; i <= 5; i++) {
					    if (i <= Math.floor(note)) {
					        html += '<span class="star">&#9733;</span>'; // étoile pleine
					    } else {
					        html += '<span class="star">&#9734;</span>'; // vide
					    }
					}
					
					 document.getElementById("etoiles").innerHTML = html;
					 </script>
					<span class="mb-3">
						4.0/5.0
					</span>
				</div>


				{% if user and (user.role == 'pilote' or user.role == 'admin') %}
						<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pop-up-notes">Noter</button>
				{% endif %}

			</div>


			<!-- pop up Bootstrap -->
			<div class="modal" id="pop-up-notes">
				<div class="modal-dialog">
					<div class="modal-content">

						<form method="POST" action="/entreprise/{{ entreprise.idEntreprise }}/noter">

							<div class="modal-header">
								<h5 class="modal-title">Donnez une note</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
							</div>

							<div class="modal-body text-center">

								<input type="hidden" name="note" id="noteInput" value="0">

								<div id="ratingStars">
									<span data-value="1">&#9733;</span>
									<span data-value="2">&#9733;</span>
									<span data-value="3">&#9733;</span>
									<span data-value="4">&#9733;</span>
									<span data-value="5">&#9733;</span>
								</div>

								<p>Note choisie :
									<strong id="noteValue">0</strong>/5</p>

							</div>

							<div class="modal-footer">
								<button class="btn btn-success">Valider</button>
							</div>

						</form>

					</div>
				</div>
			</div>

			<!-- choisir la note -->

			 <script>
			const stars      = document.querySelectorAll('#ratingStars span');
			const noteValue  = document.getElementById('noteValue');
			const noteInput  = document.getElementById('noteInput');
																		
			let noteCourante = 0;
																		
			// Sélection des étoiles
			stars.forEach(star => {
			    star.addEventListener('click', () => {
			       noteCourante = parseInt(star.getAttribute('data-value'));
			      noteValue.textContent = noteCourante;
			      noteInput.value = noteCourante;   // IMPORTANT : on remplit le champ du formulaire
			      stars.forEach((s, i) => s.classList.toggle('selected', i < noteCourante));
			  });
				});
				</script>

			<div class="col-md-9 border-start">
				<div class="d-flex justify-content-between align-items-center mb-1">
					<h4 class="fw-bold">{{ entreprise.nom }}
					</h4>
					<span class="badge text-bg-primary ms-2 align-middle">{{ entreprise.secteur }}</span>
				</div>
				<div class="d-flex justify-content-between align-items-center mb-5">
					<span class="text-muted">Lieux:
						{{ entreprise.campus.ville }}</span>
				</div>
				<p class="mb-5">Ocean CyberSecurity est une entreprise dédiée à la protection des infrastructures numériques. Elle conçoit des solutions avancées de cybersécurité, analyse les menaces émergentes et accompagne les organisations dans la sécurisation de leurs données. Grâce à une équipe d’experts passionnés, l’entreprise combine innovation, rigueur et technologie pour offrir un haut niveau de protection à ses clients.</p>
				<div class="d-flex justify-content-between align-items-center mb-3">
					<span class="text-muted">Contact:
						{{ entreprise.Email }}</span>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
