{% extends "base.html.twig" %}
{% block contenu %}

<div class="container py-5" id="offre-{{ offre.idOffre }}">
    
    <h2 class="fw-bold">{{ offre.titre }}</h2>
    <h4 class="text-muted">{{ offre.entreprise.nom }}</h4>
    <p class="text-primary fw-bold">Rémunération : {{ offre.remuneration }} • Date : {{ offre.dateOffre|date("d/m/Y") }}</p>

    <hr>

    <p>Rejoignez une équipe spécialisée dans la cybersécurité et participez au développement d’outils logiciels destinés à renforcer la protection des systèmes informatiques. Vous interviendrez sur des projets concrets : conception de nouvelles fonctionnalités, automatisation de processus, amélioration de la performance et contribution à l’analyse des menaces.</p>
    
    <p><strong>À propos de l'entreprise :</strong> Ocean CyberSecurity est une entreprise dédiée à la protection des infrastructures numériques. Elle conçoit des solutions avancées de cybersécurité et accompagne les organisations dans la sécurisation de leurs données.</p>

    <hr>

    <div class="d-flex gap-2 mt-4">
        {% if user and user.role == 'etudiant' %}
        <a href="#" class="btn btn-primary">Je postule</a>
            {% if offre.idOffre in mes_likes %}
                <button class="btn btn-danger disabled">❤️ Déjà enregistré</button>
            {% else %}
                <a href="/wishlist/add/{{ offre.idOffre }}" class="btn btn-outline-danger">🤍 Enregistrer</a>
            {% endif %}
        {% endif %}
    </div>

</div>

{% endblock %}